/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section {
  flex: 3;
  margin-right: 20px;
}

aside {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

article {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
a {
  color: #10045f; /* Color del enlace */
  text-decoration: none; /* Quitar subrayado */
  font-size: 18px; /* Tamaño de fuente */
}
